.div_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: futura-pt,Helvetica,arial,sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: rgb(109, 104, 104);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 3px;
    margin-bottom: 2%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu_icon {
    display:none;
}

.liste_menu {
    padding-left: 0%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.liste_menu_responsive {
    padding-left: 0%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header_links {
    color: inherit;
    text-decoration: inherit;
}

.header_links:hover, .menu_icon:hover {
    color: rgba(0,32,96,255);
}

.logo_svg:hover{
    fill: rgba(0,32,96,255);
}

.div_header {
    margin-bottom: 3%;
}

@media only screen and (max-width: 800px) {
    .div_header{
        display:flex;
        flex-direction: column;
        font-size: 80%;
    }

    .div_logo_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .menu_icon {
        font-size: 500%;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left : 2px;
        cursor: pointer;
        border: 2px solid;
        border-radius: 5px;
    }

    .liste_menu {
        display:none;
    }

    .liste_menu_responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

}

